[submodule "home/vim/bundle/ale"]
	path = home/vim/bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "home/vim/bundle/vim-lucius"]
	path = home/vim/bundle/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
[submodule "home/vim/bundle/vim-markdown"]
	path = home/vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "home/vim/bundle/vim-javascript"]
	path = home/vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "home/vim/bundle/vim-jsx"]
	path = home/vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "home/vim/bundle/typescript-vim"]
	path = home/vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "home/vim/bundle/vim-commentary"]
	path = home/vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "home/vim/bundle/nerdtree"]
	path = home/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/vim/bundle/vim-surround"]
	path = home/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/vim/bundle/vim-flagship"]
	path = home/vim/bundle/vim-flagship
	url = https://github.com/tpope/vim-flagship.git
[submodule "home/vim/bundle/vim-fugitive"]
	path = home/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/vim/bundle/vim-rhubarb"]
	path = home/vim/bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "home/vim/bundle/vim-repeat"]
	path = home/vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "home/vim/bundle/vim-unimpaired"]
	path = home/vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "home/vim/bundle/gist-vim"]
	path = home/vim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "home/vim/bundle/webapi-vim"]
	path = home/vim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "home/vim/bundle/ctrlp.vim"]
	path = home/vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "home/vim/bundle/vim-togglecursor"]
	path = home/vim/bundle/vim-togglecursor
	url = https://github.com/jszakmeister/vim-togglecursor.git
[submodule "home/vim/bundle/vim-classpath"]
	path = home/vim/bundle/vim-classpath
	url = https://github.com/tpope/vim-classpath.git
[submodule "home/vim/bundle/vim-gitgutter"]
	path = home/vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "home/vim/bundle/vim-tmux-navigator"]
	path = home/vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "home/vim/bundle/vim-css-color"]
	path = home/vim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "home/vim/bundle/vim-textobj-user"]
	path = home/vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "home/vim/bundle/vim-textobj-entire"]
	path = home/vim/bundle/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
[submodule "home/vim/bundle/papercolor-theme"]
	path = home/vim/bundle/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "home/vim/bundle/vim-carbon-now-sh"]
	path = home/vim/bundle/vim-carbon-now-sh
	url = https://github.com/kristijanhusak/vim-carbon-now-sh.git
[submodule "home/vim/bundle/fugitive-gitlab.vim"]
	path = home/vim/bundle/fugitive-gitlab.vim
	url = https://github.com/shumphrey/fugitive-gitlab.vim.git
